
@{
    Layout = "~/Views/Shared/_zh-CN_ManageLayout.cshtml";
    ViewBag.Title = "分红明细";
}

<link href="~/Content/eleme-css/index.css" rel="stylesheet" />
<style>
    ::-ms-clear, ::-ms-reveal {
        display: none;
    }

    [v-cloak] {
        display: none !important;
    }

    .main {
        width: 1200px;
        margin: 0 auto;
        background: #eef1f6;
    }

    #showTips {
        z-index: 9999;
    }

    .el-loading-mask {
        z-index: 1;
    }
    /*tab*/
    .main .el-tabs__active-bar {
        background-color: #0c5786;
    }
    .main .el-tabs__item.is-active {
        color: #0c5786;
    }
    /*screen*/
    .screen {
        padding: 10px;
    }
    /*table*/
    .table {
        background:#fff;
        margin-bottom: 0 !important;
    }

        .table tbody tr th, .table tbody tr td {
            text-align: center;
        }


    @@media screen and (max-width: 768px) {
        .timepick1 ,.timepick2{
            left: 174px !important;
        }
        .gen, .level {
            left: 398px !important;
        }
        .pro {
            left: 482px !important;
        }
    } 
</style>
<style>
    .spinner {
        margin: 5px auto 0;
        width: 150px;
        text-align: center;
    }

    .spinner > div {
        width: 20px;
        height: 20px;
        background-color: #004a7c;

        border-radius: 100%;
        display: inline-block;
        -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
        animation: bouncedelay 1.4s infinite ease-in-out;
        /* Prevent first frame from flickering when animation starts */
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    .spinner .bounce1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }

    .spinner .bounce2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }

    @@-webkit-keyframes bouncedelay {
         0%, 80%, 100% { -webkit-transform: scale(0.0) }
         40% { -webkit-transform: scale(1.0) }
     }

    @@keyframes bouncedelay {
         0%, 80%, 100% {
             transform: scale(0.0);
             -webkit-transform: scale(0.0);
         } 40% {
               transform: scale(1.0);
               -webkit-transform: scale(1.0);
           }
     }
</style>
<div id="app">
    <div class="main">
        <el-tabs v-model="activeName" @@tab-click="selctTab">
            <el-tab-pane label="直代联队" name="first">
                <div class="screen clearfix">
                    <div style="width:160px;display:inline-block">
                        <el-input placeholder="搜索推荐人"
                                  size="small"
                                  v-model="takeGenOptions.UserName">
                        </el-input>
                    </div>
                    <el-date-picker v-model="time1"
                                    type="daterange"
                                    size="small"
                                    placeholder="选择日期范围"
                                    popper-class="timepick1"
                                    @@change="chooseTime1">
                    </el-date-picker>
                    <div style="width:80px;display:inline-block">
                        <el-select v-model="takeGenOptions.LayoutIndex" placeholder="代数" size="small" popper-class="gen">
                            <el-option v-for="item in genOptions1"
                                       :key="item"
                                       :label="item"
                                       :value="item">
                            </el-option>
                        </el-select>
                    </div>
                    <el-select v-model="takeGenOptions.Type" placeholder="分红" size="small" popper-class="pro">
                        <el-option v-for="item in profitOptions1"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                        </el-option>
                    </el-select>
                    <el-button type="danger" @@click="screen1" size="small">筛选</el-button>
                </div>
                <div class="table-p" v-infinite-scroll="loadMoreGen" infinite-scroll-disabled="busy1" infinite-scroll-distance="10">
                    <table class="table table-bordered">
                        <tr>
                            <th>推荐人</th>
                            <th>用户名</th>
                            <th>账号</th>
                            <th>分红日期</th>
                            <th>套餐金额</th>
                            <th>分红</th>
                        </tr>
                        <tr v-for="x in genData">
                            <td v-text="x.InviterName"></td>
                            <td v-text="x.NickName"></td>
                            <td v-text="x.UserName"></td>
                            <td v-text="x.SetupTime"></td>
                            <td><span v-text="x.IncomePercent"></span> <span v-cloak>{{x.Income&&x.IncomePercent?x.Income/x.IncomePercent:0 | tofix}}</span></td>
                            <td v-text="x.Income"></td>
                        </tr>
                    </table>
                    <div class="spinner" v-if="!busy1">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                    <div v-if="over1" style="color:#666;text-align: center" v-text="'以上为所有数据。'"></div>
                </div>
            </el-tab-pane>
            <el-tab-pane label="整体联队" name="second">
                <div class="screen clearfix">
                    <div style="width:160px;display:inline-block">
                        <el-input placeholder="搜索推荐人"
                                  size="small"
                                  v-model="takeAllOptions.UserName">
                        </el-input>
                    </div>
                    <el-date-picker v-model="time2"
                                    type="daterange"
                                    size="small"
                                    placeholder="选择日期范围"
                                    popper-class="timepick2"
                                    @@change="chooseTime2">
                    </el-date-picker>
                    <div style="width:80px;display:inline-block">
                        <el-select v-model="takeAllOptions.Level" placeholder="等级" size="small" popper-class="level">
                            <el-option v-for="item in allOptions"
                                       :key="item.value"
                                       :label="item.label"
                                       :value="item.value">
                            </el-option>
                        </el-select>
                    </div>
                    <el-button type="danger" @@click="screen2" size="small">筛选</el-button>
                </div>
                <div class="table-p" v-infinite-scroll="loadMoreAll" infinite-scroll-disabled="busy2" infinite-scroll-distance="10">
                    <table class="table table-bordered">
                        <tr>
                            <th>推荐人</th>
                            <th>用户名</th>
                            <th>账号</th>
                            <th>分红日期</th>
                            <th>套餐金额</th>
                            <th>分红</th>
                        </tr>
                        <tr v-for="x in allData">
                            <td v-text="x.LeaderName"></td>
                            <td v-text="x.NickName"></td>
                            <td v-text="x.UserName"></td>
                            <td v-text="x.SetupTime"></td>
                            <td><span v-text="x.IncomePercent"></span> <span v-cloak>{{x.Income&&x.IncomePercent?x.Income/x.IncomePercent:0 | tofix}}</span></td>
                            <td v-text="x.Income"></td>
                        </tr>
                    </table>
                    <div class="spinner" v-if="!busy2">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                    <div v-if="over2" style="color:#666;text-align: center" v-text="'以上为所有数据。'"></div>
                </div>
            </el-tab-pane>
        </el-tabs>
        <div style="position: fixed;right: 1%;bottom:1%;width: 110px">
            <a href="#top" style="padding: 17px;display: block;border-radius: 50%;background: #fff;margin: 10px auto;width: 50px;height: 50px;">
                <i class="el-icon-arrow-up"></i>
            </a>
            <el-button type="primary" icon="arrow-down" @@click="downloadExl">
                <span v-text="'导出表格'"></span>
            </el-button>
        </div>
    </div>
</div>
@Html.AntiForgeryToken()
<script src="~/Scripts/element-ui.js"></script>
<script src="../../Scripts/vue-infinite-scroll.min.js"></script>
<script src="../../Scripts/xlsx.full.min.js"></script>
<script src="../../Scripts/fileSaver.min.js"></script>
<script>
	//save config
	function s2ab(s) {
		if (typeof ArrayBuffer !== 'undefined') {
			var buf = new ArrayBuffer(s.length);
			var view = new Uint8Array(buf);
			for (var i = 0; i != s.length; ++i) view[i] = s.charCodeAt(i) & 0xFF;
			return buf;
		} else {
			var buf = new Array(s.length);
			for (var i = 0; i != s.length; ++i) buf[i] = s.charCodeAt(i) & 0xFF;
			return buf;
		}
	}

	var wopts = {
		bookType: 'xlsx',
		bookSST: false,
		type: 'binary'
	};
</script>
<script>
    new Vue({
        el: '#app',
        data: {
            activeName: 'first',
            takeGenOptions: {//gen
                __RequestVerificationToken: getToken(),
                UserName: '',
                LayoutIndex: '',
                Type:'1',
                STime: '',
                ETime: '',
                PageIndex: 1,
                ShowNumber: 20
            },
            takeAllOptions: {//all
                __RequestVerificationToken: getToken(),
                UserName: '',
                Level: '1',
                STime: '',
                ETime: '',
                PageIndex: 1,
                ShowNumber: 20
            },
            genData: [],
            allData:[],
          busy1:false,
          busy2:true,
          over1:false,
          over2:false,
          exportName:'',
          exportData:'',
          tabs:1,
            time1: '',
            time2: '',
            allOptions:[
                { value: '1', label: 'BR' },
                { value: '2', label: 'JBR' },
                { value: '3', label: 'SBR' },
                { value: '4', label: 'IS' },
                { value:'5',  label:'JD'  },
                { value:'6',  label:'IP'  },
            ],
            profitOptions1: [{
                value: '1',
                label: '直购分红'
                },
                {
                value: '2',
                label: '直购差分红'
                },
                {
                value: '3',
                label: '直代分红'
                }]
        },
        filters: {
            tofix: function (val) {
                return '(' + val.toFixed(2)+'%)'
            }
        },
        computed: {
            genOptions1: function () {
                var a = [1, 2, 3, 4, 5, 6], b = [1];
                return this.takeGenOptions.Type == '1' ? b : a;
            }
        },
        methods:{
	        selctTab:function(val){
		        var toggle = !(val.name === 'second');
		        this.busy1=!toggle;
		        this.busy2=toggle;
		        if(val.name==='second'){
		        	this.tabs=2;
            }
            else if(val.name === 'first'){
		        	this.tabs=1;
            }
	        },
	        loadMoreGen: function () {
                var _this = this;
                _this.busy1=true;
                server.QueryGenerationIncome(this.takeGenOptions, function (rel) {
                    if (rel.msg === 'StatusOk') {
	                    rel.data.data.forEach(function(i){
		                    _this.genData.push(i)
                      });
	                    if(rel.data.data.length){
		                    _this.takeGenOptions.PageIndex++;
	                    }
	                    _this.$nextTick(function(){
		                    _this.busy1 = _this.over1 =!rel.data.data.length;
	                    })
                    } else {
                        showTips(getDescriptM(rel.msg))
                    }
                });
            },
	        loadMoreAll: function () {
                var _this = this;
		            _this.busy2=true;
                server.QueryAllianceIncome(this.takeAllOptions, function (rel) {
                    if (rel.msg === 'StatusOk') {
		                    rel.data.data.forEach(function(i){
			                    _this.allData.push(i)});
	                    if(rel.data.data.length){
		                    _this.takeAllOptions.PageIndex++;
	                    }
	                    _this.$nextTick(function(){
		                    _this.busy2 = _this.over2 =!rel.data.data.length;
	                    })
                    } else {
                        showTips(getDescriptM(rel.msg))
                    }
                });
            },
            chooseTime1: function (val) {
                var aT = val ? val.split(' - ') : ['', ''];
                this.takeGenOptions.STime = aT[0];
                this.takeGenOptions.ETime = aT[1];
            },
            chooseTime2: function (val) {
                var aT = val ? val.split(' - ') : ['', ''];
                this.takeAllOptions.STime = aT[0];
                this.takeAllOptions.ETime = aT[1];
            },
            screen1: function () {
	            this.genData =[];
	            this.takeGenOptions.PageIndex=1;
	            this.loadMoreGen();
            },
            screen2: function () {
	            this.allData =[];
	            this.takeAllOptions.PageIndex=1;
	            this.loadMoreAll();
            },
          downloadExl:function(){
	          var data,a,name,time,layoutIndex,type,level;
	          if(this.tabs===2){
		          a=this.takeAllOptions;
		          data=this.allData;
		          name=a.UserName?a.UserName:'allUser';
		          time=a.STime?a.STime+'to'+a.ETime:'allDate';
		          level=a.Level?this.allOptions[a.Level-1].label:'allLevel';
		          this.exportName=name+'_'+time+'_'+level+'_AllianceIncome';
	          }
	          else if(this.tabs===1){
		          a=this.takeGenOptions;
		          data=this.genData;
		          name=a.UserName?a.UserName:'allUser';
		          time=a.STime?a.STime+'to'+a.ETime:'allDate';
		          layoutIndex=a.LayoutIndex?a.LayoutIndex:'allLayoutIndex';
		          type=a.Type?this.profitOptions1[a.Type-1].label:'allType';
		          this.exportName=name+'_'+time+'_'+layoutIndex+'_'+type+'_GenerationIncome';
	          }
	          var fileName=this.exportName;
	          var wb = {
		          SheetNames: ['Sheet1'],
		          Sheets: {},
		          Props: {}
	          };
	          wb.Sheets['Sheet1'] = XLSX.utils.json_to_sheet(data); //通过json_to_sheet转成单页(Sheet)数据
	          saveAs(new Blob([s2ab(XLSX.write(wb, wopts))], {
		          type: "application/octet-stream"
	          }), fileName + '.' + (wopts.bookType == "biff2" ? "xls" : wopts.bookType));
          }
        }
    });
</script>