.el-menu--dark {
  background-color: #0e244d;
}
.navbar-wrap{
  background-color: #0e244d;
}
body{
  background-color: #143d5f;
}
#account-nav{
  background-color: #0e244d;
}
#navbar{
  background-color: #0e244d;
}
