
@{
    ViewBag.Title = "Login Password";
    Layout = "~/Views/Shared/_en-US_Layout.cshtml";
}

<style>
    .goBack {
        position: fixed;
        left: 16px;
        top: 12px;
        padding-right: 50px;
        z-index: 1000;
    }

    .acoountSet {
        display: none;
    }
</style>
<a href="../Account/MyInvitation" class="goBack p-l-14">
    <img class="w-10" src="~/images/Img/goBack.png" />
</a>

<div id="app">
    <div class="c-000 f-s-14 p-lr-16 h-40 l-h-40 bg-255 ps-relative">

        <input type="password" class="border-none h-39 bg-255 w100" v-model="ChangeLoginPassword.OldPassword" placeholder="Old Password" />
    </div>
    <div class="c-000 f-s-14 p-lr-16 m-t-16 h-40 l-h-40 bg-255 ps-relative">

        <input type="password" class="border-none h-39 bg-255 w100" v-model="ChangeLoginPassword.Password" placeholder="New Password" />
    </div>
    <div class="c-000 f-s-14 p-lr-16 m-t-16 h-40 l-h-40 bg-255 ps-relative">

        <input type="password" class="border-none h-39 bg-255 w100" v-model="ChangeLoginPassword.ConfirmPassword" placeholder="Duplicate New Password" />
    </div>

    <div class="m-t-16 p-lr-16">
        <button class="border-none bg-10ADE4 c-255 f-s-14 h-40 l-h-40 d-s-i-b w100 border-radius-4" @@click="save">Save</button>
    </div>

    <div class="m-t-10 text-right p-lr-12">
        <a href="../Account/Entry?ForgotPassword=true" class="c-10ADE4 f-s-12">Forgot Password</a>
    </div>
</div>

@Html.AntiForgeryToken();

<script>
    var app = new Vue({
        el: '#app',
        data: {
            ChangeLoginPassword: {
                __RequestVerificationToken: getToken(),
                OldPassword: '',
                Password: '',
                ConfirmPassword: '',
            }
        },
        methods: {
            save: function () {
                var _this = this;
                if (!this.ChangeLoginPassword.OldPassword) {
                    showTips('Please Enter The Old Password');
                    return;
                }
                if (!this.ChangeLoginPassword.Password) {
                    showTips('Please Enter The New Password');
                    return;
                }
                if (!this.ChangeLoginPassword.ConfirmPassword) {
                    showTips('Please Confirm The New Password');
                    return;
                }
                server.ChangeLoginPassword(this.ChangeLoginPassword, function (rel) {
                    switch (rel.msg) {
                        case 'StatusOk': {
                            showTips('Modify Successfully');
                            this.ChangeLoginPassword.OldPassword = '';
                            this.ChangeLoginPassword.Password = '';
                            this.ChangeLoginPassword.ConfirmPassword = '';
                            break;
                        }
                        case rel.msg: {
                            showTips(getDescript(rel.msg));
                            break;
                        }
                        default:{
                            showTips('Operation failed, error code:'+rel.msg);
                        }
                    }
                })
            }
        }
    })
</script>