
@{
    ViewBag.Title = "交易密码";
    Layout = "~/Views/Shared/_zh-CN_Layout.cshtml";
    object IsSetTradePassword = HttpContext.Current.Session["TradePasswordIsSet"];
    //string IsSetTradePw = IsSetTradePassword == false ? "false" : "true";
}

<style>
    .goBack {
        position: fixed;
        left: 16px;
        top: 12px;
        padding-right: 50px;
        z-index: 1000;
    }

    .acoountSet {
        display: none;
    }
</style>
<a href="../Account/MyInvitation" class="goBack p-l-14">
    <img class="w-10" src="~/images/Img/goBack.png" />
</a>

<div id="app">
   
    <div v-cloak v-if="isChange===true">
        <div class="c-000 f-s-14 p-lr-16 h-40 l-h-40 bg-255 ps-relative">
            <input type="password" class="border-none h-39 bg-255 w100" v-model="changeTradePassword.OldPassword" :placeholder="holder.o" />
        </div>
        <div class="c-000 f-s-14 p-lr-16 m-t-16 h-40 l-h-40 bg-255 ps-relative">

            <input type="password" class="border-none h-39 bg-255 w100" v-model="changeTradePassword.Password" :placeholder="holder.t" />
        </div>
        <div class="c-000 f-s-14 p-lr-16 m-t-16 h-40 l-h-40 bg-255 ps-relative">

            <input type="password" class="border-none h-39 bg-255 w100" v-model="changeTradePassword.ConfirmPassword" :placeholder="holder.s"/>
        </div>

        <div class="m-t-16 p-lr-16">
            <button class="border-none bg-10ADE4 c-255 f-s-14 h-40 l-h-40 d-s-i-b w100 border-radius-4" @@click="save">保存</button>
        </div>

        <div class="m-t-10 text-right p-lr-12">
            <a @@click="gotoForgotPassword" class="c-10ADE4 f-s-12">忘记交易密码</a>
        </div>
    </div>

    <div v-cloak v-if="isReset===true">
        <div class="c-000 f-s-14 p-lr-16 h-40 l-h-40 bg-255 ps-relative">
             <input type="text" class="p-tb-6 h-40 w48 border-none" placeholder="请输入邮箱验证码" v-model="forgotTradePassword.Code">
             <button class="c-255 border-none h-40 d-s-i-b w48 f-r border-radius-4" v-bind:class="{'bg-10ADE4':isClickSendFgEmail,'bg-ccc':isClickSendFgEmailNo}" :disabled="disabled" @@click="SendForgotTradePasswordEmail" v-text="sendEmailBtn.text"></button>
        </div>
        <div class="c-000 f-s-14 p-lr-16 m-t-16 h-40 l-h-40 bg-255 ps-relative">

            <input type="password" class="border-none h-39 bg-255 w100" v-model="forgotTradePassword.Password" placeholder="交易密码" />
        </div>
        <div class="c-000 f-s-14 p-lr-16 m-t-16 h-40 l-h-40 bg-255 ps-relative">

            <input type="password" class="border-none h-39 bg-255 w100" v-model="forgotTradePassword.ConfirmPassword" placeholder="重复交易密码" />
        </div>

        <div class="m-t-16 p-lr-16">
            <button class="border-none bg-10ADE4 c-255 f-s-14 h-40 l-h-40 d-s-i-b w100 border-radius-4" @@click="ForgotTradePassword">提交</button>
        </div>

        <div class="m-t-10 text-right p-lr-12">
            <a @@click="gotoChangePassword" class="c-10ADE4 f-s-12">修改交易密码</a>
        </div>
    </div>
   
</div>

@Html.AntiForgeryToken()

<script>
   $(window).ready(function () {
          
      var app = new Vue({
        el: '#app',
        data: {
            initTradePassword: {
                __RequestVerificationToken: getToken(),
                OldPassword: '',
                Password: '',
                ConfirmPassword: '',
            },
            changeTradePassword: {
                __RequestVerificationToken: getToken(),
                OldPassword: '',
                Password: '',
                ConfirmPassword: '',
            },
            sendForgotTradePasswordEmail: {
                __RequestVerificationToken: getToken(),
                Lang: 'zh-CN',
            },
            forgotTradePassword: {
                __RequestVerificationToken: getToken(),
                Code: '',
                Password: '',
                ConfirmPassword: ''
            },
            sendEmailBtn: {
                text: '发送验证码',
                bg: true
            },
            holder: {
                o: '',
                t: '',
                s:''
            },
            isClick: true,
            disabled: false,
            isChange: true,
            isReset: false,
            isTradePassword: '',
            isClickSendFgEmail: true,
            isClickSendFgEmailNo:false,
        },
        mounted: function () {
            var TradePasswordIsSet = $('#TradePasswordIsSet').text();
            if (TradePasswordIsSet === 'True') {
                TradePasswordIsSet = true;
            }
            this.isTradePassword = TradePasswordIsSet;
            if (this.isTradePassword === true) {
                this.holder = {
                    o: '原交易密码',
                    t: '新交易密码',
                    s: '确认新交易密码'
                };
                @{
                    ViewBag.Title = "修改交易密码";
                }
            } else {
                this.holder = {
                    o: '登录密码',
                    t: '交易密码',
                    s: '确认交易密码'
                };
                @{
                    ViewBag.Title = "设置交易密码";
                }
            }
        },

        methods: {
            gotoForgotPassword: function () {
                this.isChange = false;
                this.isReset = true;
                @{
                    ViewBag.Title = "忘记交易密码";
                }
            },
            gotoChangePassword: function () {
                this.isChange = true;
                this.isReset = false;
                @{
                    ViewBag.Title = "修改交易密码";
                }
            },

            save: function () {
                if (this.isTradePassword === true) {
                    this.ChangeTradePassword();
                } else {
                    this.InitTradePassword();
                } 
            },

            InitTradePassword:function() {
                var _this = this;
                if (!this.changeTradePassword.OldPassword) {
                    showTips('请输入登录密码');
                    return;
                }
                if (!this.changeTradePassword.Password) {
                    showTips('请输入交易密码');
                    return;
                }
                if (!this.changeTradePassword.ConfirmPassword) {
                    showTips('请确认交易密码');
                    return;
                }
                server.InitTradePassword(this.changeTradePassword, function (rel) {
                    switch (rel.msg) {
                        case 'StatusOk': {
                            showTips('修改成功');
                            _this.changeTradePassword.OldPassword = '';
                            _this.changeTradePassword.Password = '';
                            _this.changeTradePassword.ConfirmPassword = '';
                            setTimeout(function () {
                                window.location.href = host + 'zh-CN/Account/MyInvitation';
                            },1500)
                            
                            break;
                        }
                        case rel.msg: {
                            showTips(getDescript(rel.msg));
                            break;
                        }
                        default: {
                            showTips('操作失败，错误码：' + rel.msg);
                        }
                    }
                })
            },

            ChangeTradePassword: function () {
                var _this = this;
                if (!this.changeTradePassword.OldPassword) {
                    showTips('请输入原交易密码');
                    return;
                }
                if (!this.changeTradePassword.Password) {
                    showTips('请输入新交易密码');
                    return;
                }
                if (!this.changeTradePassword.ConfirmPassword) {
                    showTips('请确认新交易密码');
                    return;
                }
                server.ChangeTradePassword(this.changeTradePassword, function (rel) {
                    switch (rel.msg) {
                        case 'StatusOk': {
                            showTips('修改成功');
                            _this.changeTradePassword.OldPassword = '';
                            _this.changeTradePassword.Password = '';
                            _this.changeTradePassword.ConfirmPassword = '';
                            setTimeout(function () {
                                window.location.href = host + 'zh-CN/Account/MyInvitation';
                            }, 1500)
                            break;
                        }
                        case rel.msg: {
                            showTips(getDescript(rel.msg));
                            break;
                        }
                        default:{
                            showTips('操作失败，错误码：'+rel.msg);
                        }
                    }
                })
            },

            SendForgotTradePasswordEmail: function () {
                var _this = this;
                server.SendForgotTradePasswordEmail(this.sendForgotTradePasswordEmail, function (rel) {
                    switch (rel.msg) {
                        case 'StatusOk': {
                            var countdown = countDown;
                            _this.disabled = true;
                            _this.isClickSendFgEmail = false;
                            _this.isClickSendFgEmailNo = true;
                            _this.cd = setInterval(function () {
                                _this.sendEmailBtn.text = countdown + 'S后重新发送';
                                if (countdown == 0) {
                                    clearInterval(_this.cd);
                                    _this.disabled = false;
                                    _this.isClickSendFgEmail = true;
                                    _this.isClickSendFgEmailNo = false;
                                    _this.sendEmailBtn.text = '发送验证码';
                                }
                                countdown--;
                            }, 1000);
                            break;
                        }
                        case rel.msg: {
                            showTips(getDescript(rel.msg));
                            break;
                        }
                        default: {
                            showTips('操作失败，错误码：' + rel.msg);
                        }
                    }
                })
            },

            ForgotTradePassword: function () {
                var _this = this;
                if (!this.forgotTradePassword.Code) {
                    showTips('请输入验证码');
                    return;
                }
                if (!this.forgotTradePassword.Password) {
                    showTips('请输入交易密码');
                    return;
                }
                if (!this.forgotTradePassword.ConfirmPassword) {
                    showTips('请确认交易密码');
                    return;
                }
                server.ForgotTradePassword(this.forgotTradePassword, function (rel) {
                    switch (rel.msg) {
                        case 'StatusOk': {
                            showTips('重置交易密码成功');
                            _this.forgotTradePassword.Code = '';
                            _this.forgotTradePassword.Password = '';
                            _this.forgotTradePassword.ConfirmPassword = '';
                            setTimeout(function () {
                                window.location.href = host + 'zh-CN/Account/MyInvitation';
                            }, 1500)
                            break;
                        }
                        case rel.msg: {
                            showTips(getDescript(rel.msg));
                            break;
                        }
                        default: {
                            showTips('操作失败，错误码：' + rel.msg);
                        }
                    }
                })
            }

        }
    })


        })


</script>